:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --placeholder: rgba(117, 117, 117, 0.5);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-bgc: rgba(47, 48, 58, 1);
  --bgc-list-text: rgba(47, 48, 58, 0.8);
  --secondary-bgc: rgba(245, 244, 250, 1);
  --white-text: rgba(255, 255, 255, 1);
  --address-text: rgba(255, 255, 255, 0.6);
  --black-logo: rgba(0, 0, 0, 1);
  --bgc-img-list-e: rgba(238, 238, 238, 1);
  --shadow-filter: rgba(0, 0, 0, 0.1);
  --shadow-filterr: rgba(0, 0, 0, 0.08);
  --shadow-filterrr: rgba(0, 0, 0, 0.12);
  --shadow-list-link: rgba(0, 0, 0, 0.12);
  --shadow-list-linkk: rgba(0, 0, 0, 0.06);
  --shadow-list-linkkk: rgba(0, 0, 0, 0.16);
  --primary-icon-color: rgba(175, 177, 184, 1);
  --bgd-icon-footer: rgba(255, 255, 255, 0.1);
  --accent-card-bcg: rgba(33, 150, 243, 0.9);
  --backdrop: rgba(0, 0, 0, 0.2);
  --br-input: rgba(33, 33, 33, 0.2);
  --button-shadow: rgba(0, 0, 0, 0.15);
  --button-hover: rgba(24, 140, 232, 1);
  --sunscribe-shadow: rgba(255, 255, 255, 0.3);
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .list-link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .list-link {
    display: block;
    text-decoration: none;
  }
}
.list-link:hover, .list-link:focus {
  box-shadow: 0px 1px 1px var(--shadow-list-link), 0px 4px 4px var(--shadow-list-linkk), 1px 4px 6px var(--shadow-list-linkkk);
}

.link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white-text);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 10px 24px;
  min-width: 200px;
  height: 50px;
  color: var(--white-text);
  background: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px var(--button-shadow);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--button-hover);
}
@media screen and (min-width: 480px) {
  .button {
    padding: 10px 24px;
    min-width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 10px 32px;
    min-width: 216px;
  }
}

.filter {
  display: block;
  padding: 6px 25px;
  min-width: 73px;
  margin-right: 8px;
  margin-bottom: 15px;
  color: var(--primary-text-color);
  background-color: var(--secondary-bgc);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.filter:hover, .filter:focus {
  color: var(--white-text);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px var(--shadow-filter), 0px 1px 2px var(--shadow-filterr), 0px 2px 2px var(--shadow-filterrr);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .filter {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    display: flex;
    justify-content: center;
    display: block;
    padding: 6px 25px;
    min-width: 73px;
    margin-right: 8px;
  }
}

.filter-item {
  display: flex;
  margin-bottom: 25px;
  justify-content: flex-start;
  width: 320px;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .filter-item {
    width: 480px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .filter-item {
    width: 768px;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter-item {
    width: 1200px;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--primary-text-color);
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 450px;
  min-height: 609px;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px var(--shadow-filterrr), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal .backdrop.is-hidden {
  transform: translate(-50%, -50%) scaleY(1.5) rotate(-360deg);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--shadow-filter);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--br-input);
  border-radius: 4px;
  padding-left: 41px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--accent-color);
}

:active,
:focus,
:hover {
  outline: 0;
  outline-offset: 0;
}

.modal-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}

.input-label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid var(--br-input);
  border-radius: 4px;
  margin-bottom: 20px;
}
.comment::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01;
  color: var(--placeholder);
}
.comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01;
  color: var(--placeholder);
}
.comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01;
  color: var(--placeholder);
}

.check-text {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .check-text {
    margin-left: 12px;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .check-text {
    margin-left: 12px;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}
.check-text span {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: transparent;
}
.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--white-text);
}

.link-policy {
  display: block;
  color: var(--accent-color);
  margin-left: 5px;
}

.send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}

.police__mob {
  display: flex;
  flex-direction: row;
}

/* header */
header {
  border-bottom: 1px solid #ECECEC;
}

/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .main-nav {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    width: 786px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    width: 1200px;
  }
}

/* Logo */
.link,
.main-nav__logo {
  text-decoration: none;
  display: inline-block;
}

.main-nav__logo,
.web {
  display: inline-block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 480px) {
  .main-nav__logo,
.web {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__logo,
.web {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }
}

.main-nav__logo {
  color: var(--black-logo);
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__logo:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .main-nav__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .main-nav__logo {
    display: flex;
    flex-direction: row;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

/* Site nav */
.site-nav {
  display: none;
}
@media screen and (min-width: 480px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .site-nav .item + .item {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav .item + .item {
    margin-left: 50px;
  }
}
.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}
.site-nav .link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Auth nav */
.auth-nav {
  display: none;
}
@media screen and (min-width: 480px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
    align-items: baseline;
  }
}
.auth-nav .link {
  display: block;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .auth-nav .link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav .link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav .item + .item {
    margin-left: 50px;
  }
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav__svg-tel {
  fill: var(--secondary-text-color);
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .auth-nav__svg-tel {
    margin-right: 10px;
  }
}
.auth-nav__svg-tel:hover, .auth-nav__svg-tel:focus {
  fill: var(--accent-color);
}
.auth-nav__tel:hover .auth-nav__svg-tel, .auth-nav__tel:focus .auth-nav__svg-tel {
  fill: var(--accent-color);
}

.auth-nav__tel-item {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.auth-nav__mail {
  margin-bottom: 10px;
}
.auth-nav__svg-mail {
  fill: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .auth-nav__svg-mail {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__svg-mail {
    margin-right: 10px;
  }
}
.auth-nav__svg-mail:hover, .auth-nav__svg-mail:focus {
  fill: var(--accent-color);
}
.auth-nav__mail:hover .auth-nav__svg-mail, .auth-nav__mail:focus .auth-nav__svg-mail {
  fill: var(--accent-color);
}

.menu-open {
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: #ffffff;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
.menu-open__svg {
  margin-top: auto;
  margin-bottom: auto;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: var(--white-text);
  min-width: 480px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
  display: flex;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
}

.mob__site-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mob__site-nav .item > .link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--black-logo);
}
.mob__site-nav .item > .link:focus {
  color: var(--accent-color);
  padding-left: 9px;
}
.mob__site-nav .item > .current__mob {
  color: var(--accent-color);
}

.mob__auth-nav {
  display: flex;
  flex-direction: column;
}

.mob__auth-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob__auth-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 64px;
}

.mob-menu__soc-list {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.mob-menu__soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero,
.hero__title {
  color: var(--white-text);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 480px) {
  .hero,
.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .hero,
.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero,
.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
  }
}

.hero {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  left: 0px;
  right: 0px;
  background-color: var(--primary-bgc);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgc-main-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgc-main-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgc-main-tab.jpg);
    width: 100%;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgc-main-tab.jpg);
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgc-main.jpg);
  }
}

.feature {
  color: var(--primary-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .feature__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    align-items: start;
  }
}

.feature__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .feature__item {
    width: 450px;
  }
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
  }
  .feature__item:nth-child(2n) {
    margin-left: 30px;
  }
  .feature__item:nth-child(3) {
    margin-bottom: 0;
  }
  .feature__item:nth-child(4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .feature__item:not(:last-child) {
    margin-bottom: 0;
  }
  .list .feature__item + .feature__item {
    margin-left: 30px;
  }
}

.feature__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .feature__title {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}
.feature__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.feature__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .feature__icons {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .feature__icons {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__icons {
    width: 270px;
  }
}

.feature__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proff {
  display: none;
}
@media screen and (min-width: 480px) {
  .proff {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .proff {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .proff {
    display: block;
    padding-bottom: 94px;
  }
}
.proff .proff__img:nth-child(n+2) {
  margin-left: 30px;
}
@media screen and (min-width: 1200px) {
  .proff .proff__img {
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .proff .proff__text {
    position: absolute;
    bottom: 0%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text);
    background-color: var(--bgc-list-text);
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.team {
  background-color: var(--secondary-bgc);
}

.team__item {
  background: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .list .team__item + .team__item {
    margin-left: 30px;
  }
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
  .team__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
  .team__item:nth-child(n+3) {
    margin-bottom: 0;
  }
  .team__item:nth-child(2n) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    margin-bottom: 0;
  }
}

.team__img {
  width: 450px;
}
@media screen and (min-width: 480px) {
  .team__img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.team__name {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__work {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__name-work {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__soc-team {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__soc-item {
  width: 44px;
  height: 44px;
}

.team__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--white-text);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc-link:hover, .team__soc-link:focus {
  background-color: var(--accent-color);
}

.icon-site {
  fill: var(--primary-icon-color);
}
.team__soc-link:hover .icon-site, .team__soc-link:focus .icon-site {
  fill: var(--white-text);
}

.list-klient {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.item-klient {
  display: block;
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 480px) {
  .item-klient {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .item-klient {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .item-klient {
    width: 170px;
  }
}

.link-klient {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-klient:hover, .link-klient:focus {
  border-color: var(--accent-color);
}

.icon-klient {
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-klient:hover .icon-klient, .link-klient:focus .icon-klient {
  fill: var(--accent-color);
}

.portfolio__list {
  gap: 30px;
}

.card {
  width: 354px;
}
@media screen and (min-width: 480px) {
  .card {
    width: 354px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 370px;
  }
}
.card:hover .text-card {
  transform: translateY(0);
}

.img-list {
  padding: 20px 24px;
  border: 1px solid var(--bgc-img-list-e);
}
@media screen and (min-width: 768px) {
  .img-list {
    flex-grow: 1;
  }
}
.description {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.box-wrap {
  position: relative;
  overflow: hidden;
}

.text-card {
  position: absolute;
  top: 0;
  background-color: var(--accent-card-bcg);
  color: var(--white-text);
  font-size: 18px;
  line-height: 1.56;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.footer-sunscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-sunscribe {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-sunscribe {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sunscribe {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.subscribe {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .subscribe {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    display: flex;
    align-items: center;
  }
}

.input-subscribe {
  color: var(--white-text);
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--sunscribe-shadow);
  filter: drop-shadow(0px 4px 4px var(--button-shadow));
  border-radius: 4px;
  padding-left: 16px;
}
@media screen and (min-width: 480px) {
  .input-subscribe {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .input-subscribe {
    text-align: left;
    width: 358px;
    height: 50px;
  }
}
.input-subscribe::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: var(--address-text);
}
.input-subscribe:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: var(--address-text);
}
.input-subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: var(--address-text);
}

.btn-telegram {
  display: flex;
  width: 200px;
  min-width: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .btn-telegram {
    margin-left: 12px;
    margin-top: 0;
  }
}

.telegram {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  display: flex;
}

.icon-telegram {
  fill: var(--white-text);
}

.footer {
  background-color: var(--primary-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .footer {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    width: 1200px;
    align-items: baseline;
  }
}

.footer__start {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer__start {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__start {
    text-align: center;
    margin-bottom: 60px;
    margin-right: 165px;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__start {
    text-align: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-list {
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.two-footer {
  display: flex;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer-logo {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: left;
  }
}

.studio {
  color: var(--white-text);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address {
  font-style: normal;
}

.address-text {
  display: block;
  margin-bottom: 9px;
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.71;
}

.footer-mail {
  display: block;
  margin-bottom: 9px;
}
.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  display: block;
}
.footer-tel:hover, .footer-tel:focus {
  color: var(--accent-color);
}

.footer-tel,
.footer-mail {
  color: var(--address-text);
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-title {
  margin-bottom: 20px;
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.add-footer {
  text-align: center;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .add-footer {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .add-footer {
    text-align: left;
    margin-left: 70px;
  }
}

.list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .list-footer {
    margin-right: 93px;
  }
}

.item-soc-footer {
  width: 44px;
  height: 44px;
}

.link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--bgd-icon-footer);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover, .link-footer:focus {
  background-color: var(--accent-color);
}

.icon-footer {
  fill: var(--white-text);
}/*# sourceMappingURL=main.css.map */