.filter {
    // display: block;
    // padding: 6px 25px;
    // min-width: 73px;
    // margin-right: 8px;
    

    display: block;
    padding: 6px 25px;
    min-width: 73px;
    margin-right: 8px;
    margin-bottom: 15px;

    color: var(--primary-text-color);
    background-color: var(--secondary-bgc);
    font-family: 'Roboto', sans-serif;

    @include font(500, 16px, 1.62, null);

    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--white-text);
        background: var(--accent-color);
        box-shadow: 0px 3px 1px var(--shadow-filter), 0px 1px 2px var(--shadow-filterr), 0px 2px 2px var(--shadow-filterrr);
        border-radius: 4px;
    }

    @media screen and(min-width: 480px) {
        flex-wrap: wrap;
        margin-bottom: 15px;

    }

    @media screen and(min-width: 768px) {
        margin-bottom: 15px;
    }

    @media screen and(min-width: 1200px) {
        display: flex;

        justify-content: center;
        display: block;
        padding: 6px 25px;
        min-width: 73px;
        margin-right: 8px;
    }


}



.filter-item {
    display: flex;
    margin-bottom: 25px;
    justify-content: flex-start;
    width: 320px;
    flex-wrap: wrap;

    @media screen and(min-width: 480px) {
        width: 480px;
        flex-wrap: wrap;
    }

    @media screen and(min-width: 768px) {
        width: 768px;
        text-align: center;
        justify-content: center;
    }

    @media screen and(min-width: 1200px) {
        width: 1200px;
        display: flex;
        margin-bottom: 50px;
        justify-content: center;
    }
}