.section {

    padding-top: 60px;
    padding-bottom: 60px;


    @media screen and(min-width: 480px) {

        padding-top: 60px;
        padding-bottom: 60px;

    }

    @media screen and(min-width: 768px) {

    }

    @media screen and(min-width: 1200px) {
 
        padding-top: 94px;
        padding-bottom: 94px;

    }

}

.section-title {


    color: var(--primary-text-color);

    margin-bottom: 30px;
    @include font(null, 28px, 1.18, null);

    text-align: center;

    @media screen and(min-width: 480px) {
        margin-bottom: 30px;
        @include font(null, 28px, 1.18, null);
    }

    @media screen and(min-width: 768px) {}

    @media screen and(min-width: 1200px) {
        margin-bottom: 50px;
        @include font(null, 36px, 1.17, null);
    }

}