:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --secondary-text-color: rgba(117, 117, 117, 1);
    --placeholder: rgba(117, 117, 117, 0.5);
    --accent-color: rgba(33, 150, 243, 1);
    --primary-bgc: rgba(47, 48, 58, 1);
    --bgc-list-text: rgba(47, 48, 58, 0.8);
    --secondary-bgc: rgba(245, 244, 250, 1);
    --white-text: rgba(255, 255, 255, 1);
    --address-text: rgba(255, 255, 255, 0.6);
    --black-logo: rgba(0, 0, 0, 1);
    --bgc-img-list-e: rgba(238, 238, 238, 1);
    --shadow-filter: rgba(0, 0, 0, 0.1);
    --shadow-filterr: rgba(0, 0, 0, 0.08);
    --shadow-filterrr: rgba(0, 0, 0, 0.12);
    --shadow-list-link: rgba(0, 0, 0, 0.12);
    --shadow-list-linkk: rgba(0, 0, 0, 0.06);
    --shadow-list-linkkk: rgba(0, 0, 0, 0.16);
    --primary-icon-color: rgba(175, 177, 184, 1);
    --bgd-icon-footer: rgba(255, 255, 255, 0.1);
    --accent-card-bcg: rgba(33, 150, 243, 0.9);
    --backdrop: rgba(0, 0, 0, 0.2);
    --br-input: rgba(33, 33, 33, 0.2);
    --button-shadow: rgba(0, 0, 0, 0.15);
    --button-hover: rgba(24, 140, 232, 1);
    --sunscribe-shadow: rgba(255, 255, 255, 0.3);
}
