.feature {
    color: var(--primary-text-color);
                padding-top: 60px;
                    padding-bottom: 60px;
    // padding-top: 94px;
        @media screen and (min-width: 480px) {
            padding-top: 60px;
            padding-bottom: 60px;
            }
        
            @media screen and (min-width: 768px) {

            }
        
            @media screen and (min-width: 1200px) {
                padding-top: 94px;
                padding-bottom: 0;
            }
    
}

.feature__list {

    @media screen and (min-width: 480px) {
        display: flex;
        align-items: center;
        justify-content: center;

        }
    
        @media screen and (min-width: 768px) {
                        align-items: start;
        }
    
        @media screen and (min-width: 1200px) {
            align-items: start;
        }
}


.feature__item {

    @media screen and (min-width: 480px) {
        width: 450px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        &:nth-child(2n) {
            margin-left: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        margin-right: 0;
        .list &+& {
            margin-left: 30px;
        }
    }
}

.feature__title {
    margin-bottom: 10px;

    color: var(--primary-text-color);

    @include font(null, 14px, 1.14, null);

    text-transform: uppercase;
        text-align: center;

    @media screen and (min-width: 480px) {

        margin-top: 30px;

    }

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        
    }
}

.feature__text {
    color: var(--secondary-text-color);

    @include font(null, 14px, 1.71, null);

}

.feature__icons {
    display: flex;
    align-items: center;
    justify-content: center;


    background-color: #F5F4FA;
    margin-bottom: 30px;

    // width: 270px;
    // height: 120px;
    @media screen and (min-width: 480px) {
        width: 450px;
        height: 120px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }

}

.feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}