.list-klient {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.item-klient {
    display: block;
width: 210px;
height: 92px;

        @media screen and(min-width: 480px) {
width: 210px;
    height: 92px;
            }
        
            @media screen and(min-width: 768px) {
                width: 226px;
            }
        
            @media screen and(min-width: 1200px) {
    width: 170px;

            }
}

.link-klient {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-icon-color);
    border-radius: 4px;

    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);

    }
}




.icon-klient {
    fill: var(--primary-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

.link-klient:hover &,
.link-klient:focus & {
    fill: var(--accent-color);
}
}