.proff{}

.proff__title {}

.proff__list{}


.proff__img {
    position: relative;
    .list &+& {
    margin-left: 30px;
}
}

.proff__text {
    position: absolute;
    bottom: 0%;

@include font(700, 14px, 1.14, null);

    text-align: center;
    text-transform: uppercase;

    color: var(--white-text);
    background-color: var(--bgc-list-text);
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;


}